@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #1e1e1e; /* Fallback purely for debugging/loading */
  @apply bg-app-bg text-white antialiased overflow-hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-white/20 rounded-full hover:bg-white/30 transition-colors;
}
